# Byte-compiled / cache
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
env/

# VS Code
.vscode/

# Environment variables
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store

# FAISS index
*.faiss
*.pickle
*.joblib
*.pkl

# CSV or raw data
*.csv
data/
